.background {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.background-left {
    -fx-background-color: #7B7B7B;
}
 
.background-right {
    -fx-background-color: #D9D9D9;
}

.text-field {
    -fx-font-size: 13pt;
    -fx-font-family: "Tw Cen MT";
 
}

/* 
 * TIME AND DATE ICON image galleries
 * imageKB.com Java Program 
 * http://baccaymaryann.tk/calendar-icon-flat/
 */
/* #F28026:orange 
 * #F6A668:light orange 
 * #B6601D:dark orange 
 * #7B7B7B:grey
 * #D9D9D9:light grey
 */
.button {
    -fx-padding: 2px;   
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #F28026;
    -fx-font-family: "Tw Cen MT";
    -fx-font-size: 16pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #F6A668;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #B6601D;
    -fx-text-fill: #555555;
}
.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
}

.button-round {
    -fx-padding: 0px;   
    -fx-background-radius: 60px;
    -fx-background-color: #F28026;
    -fx-font-family: "Tw Cen MT";
    -fx-font-size: 40pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-min-width:60px;
    -fx-min-height:60px;
    -fx-max-width:60px;
    -fx-max-height:60px;
}
.button-round:hover {
    -fx-background-color: #F6A668;
}
.button-round:pressed, .button-round:default:hover:pressed {
  -fx-background-color: #B6601D;
  -fx-text-fill: #555555;
}

.button-chooser {
    -fx-padding: 0px;
    -fx-min-width:40px;
    -fx-min-height:40px;
    -fx-max-width:40px;
    -fx-max-height:40px;
    -fx-font-size: 25pt;
    -fx-text-fill: white;
    -fx-background-radius: 40px;
    -fx-background-color: #F28026;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-opacity: .4;
}
.button-chooser:hover {
    -fx-background-color: #F28026;
    -fx-opacity: .8;
}
.button-chooser:pressed, .button-chooser:default:hover:pressed {
    -fx-background-color: #B6601D;
    -fx-opacity: 1;
}
.button-chooser:disabled, .button-chooser:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
}
