.background {
    -fx-background-color: lightgray;
}

.text-field {
    -fx-font-size: 16pt;
    -fx-font-family: "Segoe UI Semibold";
}

/* 
 * TIME AND DATE ICON image galleries
 * imageKB.com Java Program 
 * http://baccaymaryann.tk/calendar-icon-flat/
 */
/*#FF9900:orange #FFCC00:light orange #CC9933:dark orange */
.button {
    -fx-padding: 2px;   
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #FF9900;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 16pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #FFCC00;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #CC9933;
  -fx-text-fill: white;
}
