<!DOCTYPE html>
<html>
<head>
	<title>Creating a Event</title>
	
	<style type="text/css">
		img{
        max-width: 500px;
        max-height: 300px;
        margin: auto 25px;
	}

	p a{
		font-size: 22px;
	}

	p{
		margin: 10px 10px;
	}

	</style>
</head>
<body>

<h2>Creating a Event</h2>

<ul>
	<li>Click on the Add Task button/Plus button</li>
</ul>

<img src="images/AddTaskPop-up.jpg">

<ul>
	<li>Fill in the Title field of the new pop-up window </li>
	<li>(Optional) Add a description</li>
	<li>Select a Start and End date</li>
	<li>Press Save to finish or Cancel/ESC/X button of the pop-up window to return </li>

</ul>

<p style="color:red;">
	When selecting start and end dates for the event, only the dates inside the duration of the timeline will available for choosing.

</p>


<p>
A new has been now created and added to the current timeline. When hovering over the event with the mouse pointer a tooltip will display the details of the event.

</p>

<img src="images/Tooltiptask.jpg">

<p>All events will be displayed in a color variation of the timeline they belong to. Events that have a duration will be displayed as a rectangular bar, whereas events that only last a day will have a diamond shape.
</p>

<img src="images/Shapes.jpg">

<p><a href="Help.html">Back</a></p>


</body>
</html>