<!DOCTYPE html>
<html>
<head>
	<title>Creating a Timeline</title>
	
	<style type="text/css">
		img{
        max-width: 500px;
        max-height: 300px;
        margin: auto 25px;
	}

	p a{
		font-size: 18px;
	}

	</style>
</head>
<body>

<h2>Creating a Timeline</h2>

<ul>
	<li>Click on the add timeline button</li>
</ul>

<img src="images/AddTimelinePop-up.jpg">

<ul>
	<li>Fill in the Title field of the new pop-up window </li>
	<li>(Optional) Add a description</li>
	<li>Select a Start and End date</li>
	<li>Press Save to finish or Cancel/ESC/X button of the pop-up window to return </li>

</ul>


<p>
A timeline has been created and is currently displayed in the timeline viewer in a unique color.
The timeline can be accessed at any time by directly clicking on it or its name (displayed in the Timelines list). Double clicking on the timeline name in the Timelines list will set the view focus onto that timeline.
When hovering over the timeline with the mouse pointer a tooltip will display the details of the timeline.
</p>

<img src="images/TooltipTimeline.jpg">

<p><a href="Help.html">Back</a></p>


</body>
</html>