<!DOCTYPE html>
<html>
<head>
	<title>Deleting a timeline/event</title>
	
	<style type="text/css">
		img{
        max-width: 500px;
        max-height: 300px;
        margin: auto 25px;
	}

	p a{
		font-size: 22px;
	}

	p,h2{
		margin: 10px 10px;
	}

	</style>
</head>
<body>

<h2>Deleting a timeline/event</h2>

<p>
	Right-click on the timeline/event and select Delete Timeline/Task.
</p>


<p>
	The timeline viewer will be updated and will display the remaining timelines and their events.
</p>
<img src="images/Delete.jpg">




<p><a href="Help.html">Back</a></p>


</body>
</html>