<!DOCTYPE html>
<html>
<head>
	<title>Edit Timeline/Event</title>
	
	<style type="text/css">
		img{
        max-width: 500px;
        max-height: 300px;
        margin: auto 25px;
	}

	p a{
		font-size: 22px;
	}

	p,h2{
		margin: 10px 10px;
	}

	</style>
</head>
<body>

<h2>Edit Timeline/Event</h2>

<ul>
	<li>Right-click on the timeline/event </li>
	<li>Select Edit Timeline/Task</li>
	<li>Edit the fields of the pop-up window</li>
	<li> Press Save to finish or Cancel/ESC/X button of the pop-up window to return</li>
</ul>

<img src="images/Edit.jpg">

<p>The timeline/event has been updated and will be displayed according to the new information.</p>

<p style="color:red;">Editing the start and/or end date of a timeline may affect the tasks of the timeline so make sure to edit the tasks beforehand!
</p>


<p><a href="Help.html">Back</a></p>


</body>
</html>