<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Help</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="default.css">
        <style type="text/css">

            li{
                margin: 3px 0;
            }
            div {
                padding: 5px 10px;
                float: left;
                margin: 10px 10px;
                border: 1px solid black;
            }

            h1{
                text-align: center; 
            }

        
        </style>
    </head>
    <body>

    <h1>Welcome to Manual</h1>
        
    
        <div>

        <ol>
        	<li> <a href="createTimeline.html">Creating a timeline</a></li>
        	<li> <a href="createEvent.html">Creating an event</a></li>
        	<li> <a href="timelineViewer.html">Timeline viewer</a></li>
        	<li> <a href="viewSettings.html">View Settings</a></li>
        	<li> <a href="editTimeEvent.html">Editing a timeline/event</a></li>
            <li> <a href="moveTimeline.html">Moving a timeline/event</a></li>
        	<li> <a href="deleteTimeline.html">Deleting a timeline/event</a></li>
        	
        </ol>
         </div>

         <div id="Info">
             <p>
                    <strong>Name:</strong> Timeline Manager<br>
                    <strong>Version:</strong> 1.0.0<br>
                    <strong>Author:</strong> Lnu Project Course Group 2<br>
                    <strong>License:</strong> ISC<br>
                    <strong>Dependencies:</strong> <br>
                      -  spsqlite-jdbc-3.16.1<br>
                      -  Jfoenix <br>
                      <br>


             </p>
         </div>
        
        
        
       
      
        
        
    </body>
</html>
