<!DOCTYPE html>
<html>
<head>
	<title>Moving Timeline</title>
	
	<style type="text/css">
		img{
        max-width: 500px;
        max-height: 300px;
        margin: auto 25px;
	}

	p a{
		font-size: 22px;
	}

	p,h2{
		margin: 10px 10px;
	}

	</style>
</head>
<body>

<h2>Moving Timeline</h2>

<ul>
	<li>Right-click on the timeline</li>
	<li>Select Move Timeline with Tasks</li>
	<li>Change the start date/ end date in the pop-up window</li>
	<li> Press Save to finish or Cancel/ESC/X button of the pop-up window to return</li>
</ul>

<p>The timeline and its tasks will be displayed according to the new dates.
</p>

<img src="images/MoveTimeline.jpg">




<p><a href="Help.html">Back</a></p>


</body>
</html>