<!DOCTYPE html>
<html>
<head>
	<title>Timeliner Viewer</title>
	
	<style type="text/css">
		img{
        max-width: 500px;
        max-height: 300px;
        margin: auto 25px;
	}

	p a{
		font-size: 22px;
	}

	p{
		margin: 10px 10px;
	}

	</style>
</head>
<body>

<h2>Timeline Viewer</h2>

<p>All timelines and events that have been created will be displayed in the timeline viewer. However, the focus will be at start on those timelines and events that are active in the current week.</p>

<img src="images/image2.jpg">

<p>To change the current week either:</p>

<ul>
	<li>Use the calendar button besides the current date and select a date</li>
	<li>Use the Left, Right arrow buttons </li>
	

</ul>


<p><a href="Help.html">Back</a></p>


</body>
</html>