<!DOCTYPE html>
<html>
<head>
	<title>View Settings</title>
	
	<style type="text/css">
		img{
        max-width: 500px;
        max-height: 300px;
        margin: auto 25px;
	}

	p a{
		font-size: 22px;
	}

	p{
		margin: 10px 10px;
	}

	</style>
</head>
<body>

<h2>View Settings</h2>

<p>From the View Settings menu the timeline viewer can be toggled to either display the selected timeline or all the timelines.</p>


<ul>
	<li>Select a timeline by either:
		<ul>
			<li>Clicking on the timeline</li>
			<li>Double-clicking on the timeline's name from the Timelines list</li>
		</ul>
	</li>
</ul>

<p>Now only the selected timeline will be displayed.</p>

<img src="images/image4.jpg">

<ul>
	<li>Click on "All timelines" radio-button from View Settings to display all the timelines again </li>
	
</ul>


<p><a href="Help.html">Back</a></p>


</body>
</html>